#root {
  max-width: 100%;
  height: 100%;
}

.bookworm {
  text-shadow: 2px 0 0 #0096c7, 0 -1.5px 0 #0096c7, 0 1.5px 0 #0096c7, -1.5px 0 0 #0096c7;
}

.welcome {
  text-shadow: 2px 0 0 black, 0 -1.5px 0 black, 0 1.5px 0 black, -1.5px 0 0 black;
}

.fa-user,
.user {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-item {
  list-style: none;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
}

.menu-item:first-child {
  margin-top: 2rem;
}

.menu-item:hover:not(:first-child) {
  background-color: #0096c7;
  border-radius: 5px;
  color: white;
}

.sidebar {
  position: absolute;
  right: 11rem;
  top: 0;
  bottom: 0;
  border: 1px solid black;
  box-shadow: -2px 0 5px darkslategray;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.4s;
  background-color: white;
  width: 20rem;
  border-radius: 10px 0 0 10px;
}

.inactive {
  visibility: hidden;
  width: 0;
  height: 0;
}

.active {
  transform: translateX(55%);
}

.valid {
  border: 2px solid limegreen;
}

.invalid {
  border: 2px solid red;
}

.modal-overlay {
  background-color: rgb(0 0 0 / 50%);
}

.modal-box {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30rem;
  height: 15rem;
  background-color: #f1f3f5;
  border-radius: 10px;
}

@media screen and (max-width: 760px) {
  .home-header {
    font-size: 3.5rem;
  }

  .main-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sidebar {
    right: 11rem;
  }
}
