.button {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-primary {
  background-color: white;
  color: #242424;
  border: 1px solid white;
}

.button-outline {
  background-color: transparent;
  color: white;
  padding: 8px 20px;
  border: 1px solid white;
  transition: all 0.3s ease-out;
}

.button-dark {
  background-color: rgba(48, 49, 51, 0.808);
  color: white;
  padding: 8px 20px;
  border: 1px solid white;
  transition: all 0.3s ease-out;
  transform: skew(20deg);
  max-width: 10.5rem;
  font-size: 1.25rem;
}

.button-medium {
  padding: 8px 20px;
  font-size: 20px;
}

.button-large {
  padding: 12px 26px;
  font-size: 20px;
}

.button-dark:hover,
.button-medium:hover,
.button-large:hover {
  background-color: white;
  color: #242424;
  border: 1px solid white;
  transition: all 0.3s ease-out;
}
